body{
  margin:0px;
  background:var(--background);
  width:100vw;
  padding-top:75px;
}

@media (prefers-color-scheme: dark) {
  :root{
    --background: rgb(24,24,25);
    --overlay: rgba(24, 24, 25, 0.796);
    --foreground:#181819;
    --border: rgba(255, 255, 255, 0.1);
    --text-color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  :root{
  --background: #FAFAFA;
  --overlay: #FAFAFA80;
  --foreground:#fff;
  --border: rgba(0, 0, 0, 0.1);
  --text-color: #000;
  }
  .lightinvert{
    filter: invert(1);
  }
}

*{
  color:var(--text-color);
  font-family: 'Inter', sans-serif;
}