body {
  margin: 0px;
  background: radial-gradient(circle at 20px 20px, #4444440b 4px, transparent 0),
              radial-gradient(circle at 60px 60px, #4444440b 2px, transparent 0);
  background-size: 40px 40px;
  animation: dotgridmove 3s linear infinite;
  width: 100vw;
  min-height:100vh;
  padding-top: 75px;
  overflow-x:hidden;
}
@keyframes dotgridmove {
  0% { background-position: 0 0, 40px 40px; }
  100% { background-position: 40px 40px, 0 0; }
}
html{
  background:var(--background);
}

:root {
  --content-width: 1000px;
}

.mw{
  /* max-width:var(--maxwidth); */
  max-width:var(--content-width);
  margin:0 auto;
}
/* @media (prefers-color-scheme: dark) { */
  :root {
    --background: #181819;
    --overlay: rgba(24, 24, 25, 0.796);
    --foreground: #1e1e20;
    --border: rgba(255, 255, 255, 0.1);
    --text-color: #fff;
  }
@media (max-width: 550px) {
  :root {
    --fsm: 1;
    --maxwidth:450px;
  }
}
@media (min-width: 551px) and (max-width: 900px) {
  :root {
    --fsm: 1.3;
    --maxwidth:500px;
  }
}
@media (min-width: 901px) {
  :root {
    --fsm: 1.6;
    --maxwidth:800px;
  }
}
* {
  color: var(--text-color);
  font-family: 'Satoshi', sans-serif;
}


::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background:var(--background);
}

::-webkit-scrollbar-button {
  width: 6px;
  height: 6px
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .3);
  border-radius: 23px
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50px
}

::-webkit-scrollbar-corner {
  /* background: 0 0 */
  background:var(--background);
}

@media (prefers-color-scheme:dark) {
  ::-webkit-scrollbar-thumb {
    /* background: rgba(255, 255, 255, .3) */
    background:var(--border);
  }
}

content{
  display:flex;
  flex-direction:column;
  padding:0px 25px;
}

.pageimage{
  width: 100%;
  height: auto;
}

.round{
  border-radius: 10px;
}

.spin{
  animation: spin .5s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loader{
  width:50px;
}
.fakeload{
  position: relative;
  overflow:hidden;
}
.fakeload .overlay{

  animation:reveal 1s ease forwards;
}
@keyframes reveal {
  0% { opacity:1;backdrop-filter:blur(20px); }
  80% { opacity:1;backdrop-filter:blur(20px); }
  100% { opacity: 0; backdrop-filter: blur(0px); }
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:10px;
  justify-content: center;
}

.anim{
  animation: fadein 0.5s ease forwards;
}
@keyframes fadein {
  0% { opacity:0; transform:translateY(25px) rotateX(-10deg); }
  100% { opacity:1; transform:translateY(0) rotateX(0deg); }
}

@font-face {
  font-family: 'Font Awesome 6';
  font-style: normal;
  font-weight: 900;
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/webfonts/fa-solid-900.woff2') format('woff2'),
       url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/webfonts/fa-solid-900.woff') format('woff');
}

span.fas {
  font-family: 'Font Awesome 6', sans-serif !important;
  font-weight: 900;
}
.half{
  opacity:.4;
  position:absolute;
  right:15px;
}
.mhero{
  /* height:calc(60vh - 75px); */
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  border-radius:10px;
}

.aspect21{
  aspect-ratio: 2 / 1;
}
.aspect31{
  aspect-ratio: 3 / 1;
}
.herobg{
  position:absolute;
  z-index:-1;
  width:100%;
  object-fit:cover;
  aspect-ratio: 3 / 1;
  /* height:100%; */
  overflow:hidden;
  width:calc(100vw - 50px);
  border-radius:10px;
  max-width:var(--content-width);

}

.textcenter{
  text-align:center;
}
.grid3{
  width:calc(100vw - 50px);
  max-width:var(--content-width);
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  box-sizing:border-box;
  gap:10px;
  margin-top:10px;
  margin-bottom:10px;
}
.grid3 > *{
  width:100%;
  border-radius:10px;
}

#background{
  background:linear-gradient(transparent 60%,var(--bgc) 100%);
    /* background: radial-gradient(circle at bottom left, var(--bgc) 0%, transparent 30%),
            radial-gradient(circle at bottom right, var(--bgc) 0%, transparent 30%); */
background-color: transparent;
background-attachment: fixed;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
/* transition:--bgc .3s ease; */
}

.blurcta{
  width:100%;
  height:50px;
  position:relative;
  overflow:hidden;
  border-radius:10px;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:7px;
  text-transform: uppercase;
  font-weight:bold;
  cursor:pointer;
}
.blurcta > span, .blurcta > svg{
  opacity:.8;
}
.blurcta > .blurimg{
  filter: blur(20px) brightness(.6);
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius:10px;
  position:absolute;
  scale:1.4;
  transition: scale .3s ease-out;
  z-index:-1;
}
.blurcta:hover > .blurimg{
  scale:1.2;
}


#largeview{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background:var(--overlay);
  z-index:1000;
  display:flex;
  align-items:center;
  justify-content:center;
  pointer-events:none;
  opacity:0;
  transition:opacity .3s ease, backdrop-filter .3s ease;
  backdrop-filter:blur(0px);
}
#largeview.active{
  pointer-events:all;
  opacity:1;
  backdrop-filter:blur(5px);
}

#largeview img{
  user-select:none;
  max-width:90%;
  max-height:90%;
  border-radius:10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  scale:.9;
  transition:scale .3s ease;
}
#largeview.active img{
  scale:1;

}


    canvas {
      display: block;
    }

    .vflex{
      display:flex;
      align-items:center;
      /* justify-content:center; */
      gap:10px;
    }


.maxwidthresize{
  width:100%;
  height:250px;
  object-fit:cover;
}
.ci {
  border-radius:10px;
  border:1px solid #ffffff1d;
}