.shadowdi{
  box-shadow:0 0px 0px 1px rgba(0,0,0,.06),0 1px 1px -0.5px rgba(0,0,0,.06),0 3px 3px -1.5px rgba(0,0,0,.06),0 6px 6px -3px rgba(0,0,0,.06),0 12px 12px -6px rgba(0,0,0,.04),0 24px 24px -12px rgba(0,0,0,.04),0 24px 24px 2px rgba(0,0,0,.1)
}
header{
  z-index:100;
  background-color: var(--overlay);
  backdrop-filter:blur(20px);
  box-shadow: var(--shadow);
  position: fixed;
  top:0px;
  width:100vw;
  border-bottom: 1px solid transparent;
  transition:border 0.2 ease;
}
header > div{
display: flex;
  align-items: center;
  gap:15px;
  padding: 15px 20px;
}

body.scrolled header {
  border-bottom: 1px solid var(--border);
}

header button,header a{
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 17px;
  transition:background-color 0.2s ease;
  padding:5px 10px;
  border-radius: 7.5px;
}

header a{
  display:flex;
  align-items: center;
  gap:5px;
  transition:background-color 0.2s ease;
  font-size:16px;
  text-decoration: none;
}

header a img{
  width:25px;
}
header  button:hover, header a:hover,header button.active,header a.active{
  background-color: var(--border);
}
.dropdown{
  perspective:2000px;
  transform:translateX(-85px) translateY(5px);
}

.dropdown-content{
  position:fixed;
  border:1px solid var(--border);
  flex-direction: column;
  padding:5px;
  opacity: 0;
  transform: rotateX(-10deg) scale(.9);
  pointer-events:none;
  background:var(--foreground);
  border-radius:10px;
  display:flex;
  width: 230px;
  box-sizing:border-box;

  transition: opacity 0.2s ease, transform 0.2s ease;
}
.ddbutton:hover .dropdown-content{
  opacity: 1;
  transform: rotateX(0deg) scale(1);
  pointer-events:all;

}

.hic{
  border-radius:5px;
  scale:.84;
}

#clientdropdown{
  transform:translateX(-115px) translateY(5px);
}
#clientdropdown .dropdown-content{
  width:300px;
}

/* ===[ Footer ]================= */
footer{
  padding:30px;
  background:linear-gradient(transparent, rgba(255, 166, 0, 0.185));
  z-index: 10;
  position: absolute;
  width: 100vw;
}

.flex{
  display:flex;
}
footer{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
}
footer h1{
  /* font-size:24px; */
  margin:0;
}