#hero{
  height:calc(60vh - 75px);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
#maintitle{
  font-size: 50px;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 10px;
}
#socialsgrid{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}

.social{
  display:flex;
  width: fit-content;
  padding:5px 10px;
  background:var(--foreground);
  font-size:16px;
  align-items:center;
  gap:10px;
  text-decoration: none;
  border-radius:10px;
  border:1px solid var(--border);
}
.social img{
  height:35px;
}

#maintitle{
  margin-top:0px;
}