#hero{
  height:calc(100vh - 550px);
  /* min-height:400px; */
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
#glowlogo{
  /* max-width:800px; */
  object-fit:contain;
  max-height:400px;
  /* margin:0 auto; */
}
@media (max-width: 600px) {
  #hero{
    height:calc(100vh - 450px);
  }
}
#maintitle{
  font-size: 50px;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 10px;
}
#subtitle{
  margin:0px;
}
@media (max-width: 600px) {
  #maintitle{
    font-size: 37px;
  }
  #hero{
  height:calc(100vh - 400px);}
}
#socialsgrid{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}

.social{
  display:flex;
  width: fit-content;
  padding:5px 10px;
  background:var(--foreground);
  font-size:16px;
  align-items:center;
  gap:10px;
  text-decoration: none;
  border-radius:10px;
  border:1px solid var(--border);
}
.social img{
  height:35px;
}

#maintitle{
  margin-top:0px;
}
#glowlogo{
  margin-bottom:-15%;
}

.blurcta{
  text-decoration:none;
}

#miherobg{
  filter:blur(8px) brightness(0.4);
  scale:1.1;
  /* background:red; */
  /* background:url("/res/maciconbentoanim.png");
  background-size:cover;
  /* background-position-x: center; */
  animation:bgscroll 1000s linear infinite;
}
@keyframes bgscroll{
  0%{background-position: 0% 0%;}
  to{background-position: 10000% 10000%;}
}
#mihero{
  max-height:250px;
}

.macicon{
  border:3px dashed transparent;
  transition:background-color .3s ease, border .3s ease;
  border-radius:10px;
  width:100px;
  height:120px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight:600;
  cursor:pointer !important;
  color:#ffffffc8;
  font-size:14px;
}
.macicon:hover{
  background:#ffffff08;
  border:3px dashed #ffffff24;
  user-select: none;
  -webkit-user-drag: none;
  cursor:pointer !important;
}
.macicon > img{
  width:calc(100% - 15px);
  -webkit-user-drag: none;
  cursor:pointer !important;
}

.icongrid{
  display:flex;
  flex-wrap:wrap;
  gap:5px;
  justify-content: center;
}

#mibanner{
  font-weight:bold;
  width:100%;
  text-align: center;
  padding:10px 0px;
  margin-top:10px;
  background:#ffffff08;
  border:1px solid #ffffff24;
  border-radius:10px;
}